.card {
  background-color: #111;
}

.section {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);

  &.bordered {
    border-top: 1px solid rgb(66, 66, 66) !important;
  }
}

.label {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}
