.wrapper {
  padding: 200px 0 100px 0;
  width: 100%;
  display: flex;

  .contaner {
    position: relative;
    width: 50%;
    height: fit-content;

    &:last-child::before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      display: inline-block;
      content: "";
      border-left: 1px solid #888;
      width: 1px;
    }
  }

  @media screen and (max-width: 840px) {
    flex-direction: column;
    gap: 16px;

    .contaner {
      width: 100%;
      
      &:last-child::before {
        display: none;
      }

      &:first-child::after {
        display: inline-block;
        content: "";
        border-top: 1px solid #888;
        width: 100%;
        margin-top: 32px;
      }
    }
  }

  .title {
    font-size: 28px;
    line-height: 1.25;
    letter-spacing: -0.04rem;
    font-weight: 700;

    background: linear-gradient(180deg, #fff, #adadad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(136, 136, 136);
  }

  .linksBody {
    padding: 0;
    width: 100%;

    .linkButton {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      font-weight: 600;

      &:hover {
        color: #0072ff;

        .icon {
          fill: #0072ff;
        }
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0;

    .orBlock {
      display: flex;
      align-items: center;
      color: #888;
      font-size: 12px;

      &::before,
      &::after {
        display: inline-block;
        content: "";
        border-top: 1px solid #888;
        width: 100px;
        margin: 0 16px;
      }
    }
  }
}
