.wrapper {
  .title {
    background: linear-gradient(180deg, #fff, #adadad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: -0.05em;
    position: relative;
  }
}
