.root {
    position: relative;
    background-color: #000;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
  }
  
  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 7px 12px;
    line-height: 1;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
    border-radius: var(--mantine-radius-md);
    font-size: var(--mantine-font-size-sm);
    transition: color 100ms ease;
    font-weight: 500;
  
    @mixin hover {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
    }
  
    &[data-active] {
      color: #0072ff;
    }
  }
  
  .controlLabel {
    position: relative;
    z-index: 1;
  }
  
  .indicator {
    background-color: #0072ff;
    border-radius: var(--mantine-radius-md);
  }