.container {
  position: relative;
  width: fit-content;

  .sectionIntro {
    position: relative;
    width: 340px;
    height: 48px;
  }

  .bodyIntro {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      left: calc(150px / 2 * -1);
      height: 1px;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, calc(0.15 * 3)),
        rgba(255, 255, 255, calc(0.15 * 3)) 50%,
        transparent 0,
        transparent
      );
      background-size: 5px 1px;
      -webkit-mask: linear-gradient(to left, #000 93%, transparent),
        linear-gradient(to right, #000 93%, transparent),
        linear-gradient(#000, #000);
      -webkit-mask-composite: destination-in;
      mask-composite: exclude;
      animation: intro_widthOffset 1.08s cubic-bezier(0.645, 0.045, 0.355, 1)
        forwards;
    }

    .title {
      background: linear-gradient(180deg, #fff, #adadad);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 800;
      font-size: max(48px, min(5vw, 76px));
      line-height: 1;
      letter-spacing: -0.05em;
      padding: 24px;
      position: relative;
      max-width: 1250px;
    }

    .descr {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin: 0 auto;
      max-width: 750px;

      color: #888888;
      font-size: max(15px, min(2vw, 20px));
      line-height: 1.8;
      letter-spacing: var(--letter-spacing-1);
      font-weight: 400;
    }

    .after {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        width: 0;
        left: calc(150px / 2 * -1);
        height: 1px;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, calc(0.15 * 3)),
          rgba(255, 255, 255, calc(0.15 * 3)) 50%,
          transparent 0,
          transparent
        );
        background-size: 5px 1px;
        -webkit-mask: linear-gradient(to left, #000 93%, transparent),
          linear-gradient(to right, #000 93%, transparent),
          linear-gradient(#000, #000);
        -webkit-mask-composite: destination-in;
        mask-composite: exclude;
        bottom: -0.1px;
        animation: intro_widthOffset 1.08s cubic-bezier(0.645, 0.045, 0.355, 1)
          forwards;
      }

      .sectionACtionButton {
        position: relative;
        padding: 40px;
        width: min-content;
      }
    }
  }

  @keyframes intro_widthOffset {
    100% {
      width: calc(100% + 150px);
    }
  }
}

@media screen and (max-width: 560px) {
  .container {
    padding: 0;
    .bodyIntro {
      &::before {
        left: 0;
      }

      .title {
        font-size: 32px;
        padding: 12px;
        max-width: 100%;
      }

      .after {
        &::after {
          left: 0;
        }
      }
    }

    @keyframes intro_widthOffset {
      100% {
        width: calc(100%);
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .container {
    .bodyIntro {
      .title {
        padding: 12px !important;
      }
      .after {
        padding: 12px !important;
      }

      .sectionACtionButton {
        padding: 12px !important;
      }
    }
  }
}
