.wrapper {
  padding: 0 16px;
}

.subheading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 2rem;
}

.subheading {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.8rem;
}

.text {
  font-size: 1rem;
  line-height: 1.6;
  color: #cccccc;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.skillsList li {
  background-color: #333333;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.skillsList li:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.aboutHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.professionalJourney {
  margin: 16px 0;
  color: #ccc;
}

.jobTitle {
  color: #ddd;
}

.company {
  color: #bbb;
}

.jobDetails li {
  color: #ccc;
}

.jobDetails li:hover {
  color: #eee;
}

.educationTitle {
  color: #ddd;
}

.educationInstitution {
  color: #bbb;
}

.educationDetails li {
  color: #ccc;
}

.educationDetails li:hover {
  color: #eee;
}
